<div class="card">
    <a href="dashboard/edit/{{id}}">
        <div class="title">
            <h3 class="post-title">{{title}}</h3>
            <p>{{format_date createdAt}}</p>
        </div>
    </a>
</div>