<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">
    <title>DASHBOARD | Tech Blog</title>
</head>

<body>
    <!-- HEADER WITH NAVBAR-->
    <header>
        <div>
            <h1>Tech Blog</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                {{#if loggedIn}}
                <li id="logout">Logout</li>
                {{else}}
                <li><a href="/login">Login</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>

    <!-- BLOG SECTION-->
    <main>
        <!-- PAGE CONTENT TITLE-->
        <div>
      
            {{{body}}}

        </div>
        <div class="newpost">
            <a href="/dashboard/newpost">+ New Post</a>
        </div>
    </main>

    <!--FOOTER SECTION-->
    <footer>
        &copy; Tech Blog
    </footer>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>