<div>
    <!-- PAGE CONTENT TITLE-->
    <h2>Edit Comment</h2>

    <!-- COMMENT CARD-->
    <div class="edit-comment-card">
        <form class="edit-comment-form">
            <input type="hidden" name="comment-id" value="{{comment.id}}">
            <input type="hidden" name="post-id" value="{{comment.post_id}}">
            <label for="comment">Comment:</label>
            <textarea id="comment" name="comment" required>{{comment.text}}</textarea>
            <div class="btn-container">
                <button id="save-btn" type="submit">Save</button>
                <button id="delete-btn" type="submit">Delete</button>
            </div>
        </form>
    </div>
</div>
<script src="/js/edit-comment.js"></script>
<script src="/js/delete-comment.js"></script>