<!-- PAGE CONTENT TITLE-->
<h2>Log in</h2>
<!-- LOGIN CARD-->
<div class="login-card">
    <form class="login-form">
        <label for="user-login">Username:</label>
        <input class="form-input" type="text" id="user-login">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login">
        <button type="submit">Log in</button>
    </form>
    <a href="/signup">Sign up instead</a>
</div>
<script src="./js/login.js"></script>