<!-- BLOG POST -->
<div class="post">
    {{> one-post }}
</div>

<h2>Comments</h2>

<div class="comment-section">
    {{#each comments as |comment|}}
    {{> one-comment }}
    {{/each}}
</div>

<div class="add-comment">
    <button id="add-comment" type="submit">Add Comment</button>
</div>

<div class="new-comment-card">
    <form class="new-comment-form">
        <input type="hidden" name="post-id" value="{{post.id}}">
        <label for="comment">Comment:</label>
        <textarea id="comment" name="comment" required></textarea>
        <div class="btn-container">
            <button id="save-comment" type="submit">Save</button>
        </div>
    </form>
</div>
<script src="/js/add-comment.js"></script>
<script src="/js/toggle.js"></script>