<!-- PAGE CONTENT TITLE-->
<h2>Sign up</h2>
<!-- LOGIN CARD-->
<div class="signup-card">
    <form class="signup-form">
        <label for="user-signup">Username:</label>
        <input class="form-input" type="text" id="user-signup" required>
        <label for="email-signup">Email:</label>
        <input class="form-input" type="email" id="email-signup" required>
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" required>
        <button id="submit" type="submit">Sign up</button>
    </form>
    <a href="/login">Log in instead</a>
</div>
<script src="/js/signup.js"></script>