body {
    font-family: 'Noto Serif', serif;
}

body,
html {
    height: 100%;
}

main {
    min-height: 100%;
}

header,
h2,
h3 {
    text-transform: uppercase;
}


/* HEADER WITH NAVBAR STYLE */

header {
    width: 100%;
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #292929;
    color: #FFFFFF;
}

h1 {
    font-size: 3em;
    padding: 0px 70px;
}

nav a {
    font-size: 1.2em;
    text-decoration: none;
    color: inherit;
}

nav>ul {
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 70px;
}

nav>ul>li {
    display: block;
}

nav>ul>li:hover {
    color: #c0c0c0;
    text-decoration: underline;
    text-underline-position: under;
}

@media screen and (max-width: 992px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
    }

    nav>ul>li {
        display: block;
        padding: 0 10px;
    }
}

#logout {
    font-size: 1.2em;
}

/* BLOG SECTION STYLE */

main {
    margin: 50px 100px 0 100px;
}

h2 {
    padding-bottom: 25px;
    text-align: center;
}

h2,
h3 {
    color: #4e4e4e;
}

.card a {
    width: 100%;
    display: inline-block;
    padding-left: 30px;
    border-left: 6px solid #f03e49;
    text-decoration: none;
    color: inherit;
    margin-bottom: 70px;
}

.title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

.title p {
    color: #838383;
}

.content {
    line-height: 1.5;
}

.card:hover {
    color: #838383;
}

/* FOOTER SECTION STYLE */
footer {
    color: #292929;
    background-color: #d3d3d3;
    text-align: center;
    margin: 30px auto;
    padding: 30px 0;
    text-transform: uppercase;
    font-size: 1.1em;
}

/* LOG IN, SIGN UP & NEW POST SECTIONS STYLE */
.login-card,
.signup-card {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.login-card form,
.signup-card form,
.new-post-card form,
.edit-post-card form,
.new-comment-card form,
.edit-comment-card form {
    display: flex;
    flex-direction: column;
}

.form-input {
    display: block;
    max-width: 100%;
    margin: 10px 0;
    padding: 8px;
    margin-bottom: 25px;
    font-size: 1em;
    font-family: 'Noto Serif', serif;
}

.login-card label,
.signup-card label,
.new-post-card label,
.edit-post-card label,
.new-comment-card label,
.edit-comment-card label {
    display: block;
}

.login-card button,
.signup-card button,
.new-post-card button,
.edit-post-card button,
.new-comment-card button,
.edit-comment-card button {
    background-color: #f03e49;
    text-transform: uppercase;
    border: 0;
    color: white;
    font-size: 1.1em;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.login-card button:hover,
.signup-card button:hover,
.new-post-card button:hover,
.edit-post-card button:hover,
.new-comment-card button:hover,
.edit-comment-card button:hover {
    background-color: #f3656d;
}

.login-card a,
.signup-card a {
    text-decoration: none;
    color: #292929;
    margin-bottom: 25px; 
    text-transform: uppercase;   
    width: fit-content;
}

.login-card a:hover,
.signup-card a:hover {
    color: #838383;
    text-decoration: underline;
    text-underline-position: under;
}

/* DASHBOARD SECTION STYLE */
.post-title:hover {
    color: #838383;
}

.newpost {
    max-width: 150px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.newpost a {
    width: 100%;
    text-decoration: none;
    background-color: #f03e49;
    font-size: 1.1em;
    padding: 7px;
    color: white;
    margin-bottom: 25px; 
    text-transform: uppercase;   
}

.newpost a:hover {
    background-color: #f3656d;
}

/* NEW POST SECTION STYLE */
.new-post-card {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

textarea {
    display: block;
    max-width: 100%;
    margin: 10px 0;
    padding: 8px;
    margin-bottom: 25px;
    font-size: 1.0em;
    height: 140px;
    font-family: 'Noto Serif', serif;
}

.btn-container {
    text-align: center;
    margin: auto;
}

.btn-container button {
    width: 150px;
}

/* EDIT POST SECTION STYLE */
.edit-post-card,
.edit-comment-card {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#save-btn {
    background-color: #d3d3d3;
    color: #292929;
    margin-right: 10px;
}

#save-btn:hover {
    background-color: #bebebe;
}

#delete-btn {
    margin-left: 10px;
}

.post {
    display: inline-block;
    padding-left: 30px;
    border-left: 6px solid #f03e49;
    margin-bottom: 35px;
}

.comment-section a {
    text-decoration: none;
    color: inherit;
    margin-bottom: 70px;
}

.comments {
    background-color: #f9f9f9;
    padding: 0 36px;
    line-height: 1.5;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.comment-author {
    color: #838383;
}

.add-comment {
    max-width: 150px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.add-comment button {
   background-color: #f03e49;
    text-transform: uppercase;
    border: 0;
    color: white;
    font-size: 1.1em;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.add-comment button:hover {
    background-color: #f3656d;
}

.new-comment-card textarea,
.edit-comment-card textarea {
     height: 65px;
}